<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/aop/spring-task.xsd"

	default-lazy-init="false" default-autowire="byName">

    <import resource="applicationContext-queue-consumer-amqp-serviceadapters.xml"/>

	<bean id="amqpConnectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg value="#{appProperties['amqp.host']}" />
		<property name="username" value="#{appProperties['amqp.username']}" />
		<property name="password" value="#{appProperties['amqp.password']}" />
	</bean>

	<bean id="amqpAdmin" class="org.springframework.amqp.rabbit.core.RabbitAdmin">
		<constructor-arg ref="amqpConnectionFactory" />
	</bean>
	
	<bean id="amqpExecutorService"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="#{appProperties['amqp.executor.coresize']}" />
		<property name="maxPoolSize" value="#{appProperties['amqp.executor.maxsize']}" />
	</bean>

    <bean id="requestMessageListenerContainer"
          class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer" destroy-method="stop">
        <constructor-arg ref="amqpConnectionFactory" />
        <property name="messageListener">
            <bean class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
                <constructor-arg ref="amqpRpcQueueMessageHandler" />
            </bean>
        </property>
        <property name="queues" ref="amqpRpcRequestQueue" />
        <property name="rabbitAdmin" ref="amqpAdmin" />
        <property name="taskExecutor" ref="amqpExecutorService" />
        <property name="transactionManager"><null/></property>
        <property name="concurrentConsumers" value="#{appProperties['amqp.concurrentConsumers']}" />
        <property name="maxConcurrentConsumers" value="#{appProperties['amqp.maxConcurrentConsumers']}" />
        <property name="prefetchCount" value="#{appProperties['amqp.prefetchCount']}" />
    </bean>

    <bean id="amqpRpcRequestQueue" class="org.springframework.amqp.core.Queue">
        <constructor-arg value="#{appProperties['amqp.rpcRequestQueue.name']}" />
    </bean>

	<bean id="amqpRpcQueueMessageHandler" class="com.sfl.nms.queue.amqp.rpc.impl.RPCQueueMessageHandlerImpl">
        <property name="objectMapper" ref="amqpConsumerJsonObjectMapper"/>
        <property name="serviceRPCAdaptersRegistry" ref="serviceRPCAdaptersRegistry"/>
	</bean>

    <bean id="amqpConsumerJsonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
</beans>