<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true" default-autowire="byName">

    <!--Initializing datasource-->
    <bean id="dataSourceMain" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" lazy-init="true">
        <property name="driverClass" value="#{appProperties['database.driver']}"/>
        <property name="jdbcUrl" value="#{appProperties['database.url']}"/>
        <property name="user" value="#{appProperties['database.username']}"/>
        <property name="password" value="#{appProperties['database.password']}"/>
        <property name="acquireIncrement" value="#{appProperties['database.c3p0.acquire_increment']}"/>
        <property name="initialPoolSize" value="#{appProperties['database.c3p0.initialSize']}"/>
        <property name="maxPoolSize" value="#{appProperties['database.c3p0.maxActive']}"/>
        <property name="preferredTestQuery" value="#{appProperties['database.validationQuery']}"/>
        <property name="testConnectionOnCheckout" value="#{appProperties['database.testConnectionOnCheckout']}"/>
        <property name="idleConnectionTestPeriod" value="#{appProperties['database.idleConnectionTestPeriod']}"/>
    </bean>


    <!--Initializing datasource logger-->
    <bean id="dataSource" class="org.jdbcdslog.ConnectionPoolDataSourceProxy" primary="true">
        <property name="targetDSDirect" ref="dataSourceMain"/>
    </bean>

</beans>