<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="amqpConnectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg value="${amqp.host}" />
		<property name="username" value="${amqp.username}" />
		<property name="password" value="${amqp.password}" />
	</bean>

	<bean id="amqpAdmin" class="org.springframework.amqp.rabbit.core.RabbitAdmin">
		<constructor-arg ref="amqpConnectionFactory" />
	</bean>
	
	<bean id="amqpExecutorService"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="${amqp.executor.coresize}" />
		<property name="maxPoolSize" value="${amqp.executor.maxsize}" />
	</bean>

    <bean id="requestMessageListenerContainer"
          class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer" destroy-method="stop">
        <constructor-arg ref="amqpConnectionFactory" />
        <property name="messageListener">
            <bean class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter">
                <constructor-arg ref="amqpRpcQueueMessageHandler" />
            </bean>
        </property>
        <property name="queues" ref="amqpRpcRequestQueue" />
        <property name="rabbitAdmin" ref="amqpAdmin" />
        <property name="taskExecutor" ref="amqpExecutorService" />
        <property name="transactionManager"><null/></property>
        <property name="concurrentConsumers" value="${amqp.concurrentConsumers}" />
        <property name="maxConcurrentConsumers" value="${amqp.maxConcurrentConsumers}" />
        <property name="prefetchCount" value="${amqp.prefetchCount}" />
    </bean>

    <bean id="amqpRpcRequestQueue" class="org.springframework.amqp.core.Queue">
        <constructor-arg value="${amqp.rpcRequestQueue.name}" />
    </bean>
</beans>