<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- LOG_FILE is the property that Spring Boot uses for default logging support -->
    <!-- It should be placed before inclusion of the base.xml, so that the LOG_FILE value overrides existing value -->
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/notifier.log}"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework.web" level="INFO"/>
</configuration>
