<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">

    <!-- Writes Logback notifications (like mail errors) to the console (catalina.out in this case) -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/var/log/nms/services.acceptance.nms.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>/var/log/nms/services.acceptance.nms.%i.log</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>5</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>5MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{ISO8601} %-5level [%thread] %class.%method\(%file:%line\) - %msg %n</Pattern>
        </layout>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTrackerImpl">
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- By default log ERROR -->
    <root level="ERROR">
        <appender-ref ref="FILE"/>
    </root>


</configuration>
