<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd"

       default-lazy-init="false" default-autowire="byName">
    <context:annotation-config/>

    <context:component-scan base-package="com.sflpro.notifier.queue.amqp.*"></context:component-scan>

    <bean id="serviceRPCAdaptersRegistry"
          class="com.sflpro.notifier.queue.amqp.rpc.impl.ServiceRPCAdaptersRegistryImpl">
        <property name="adapters">
            <list>
                <ref bean="notificationQueueConsumerServiceRPCAdapter"/>
                <ref bean="pushNotificationSubscriptionRequestQueueConsumerServiceRPCAdapter"/>
            </list>
        </property>
    </bean>

</beans>