<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx.xsd
		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd"
       default-lazy-init="true" default-autowire="byName">

    <context:annotation-config/>
    <context:component-scan base-package="com.sflpro.notifier.persistence.*"/>

    <!--Load datasource context-->
    <import resource="../../main/resources/applicationContext-persistence-jpa-datasource.xml"/>
    <!--Load repository context-->
    <import resource="../../main/resources/applicationContext-persistence-jpa-repository.xml"/>


    <!--Initializing jpa vendor adapter-->
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="#{appProperties['database.hibernate.show_sql']}"/>
        <property name="generateDdl" value="#{appProperties['database.hibernate.generateDdl']}"/>
        <property name="databasePlatform" value="#{appProperties['database.hibernate.dialect']}"/>
    </bean>


    <jdbc:embedded-database id="dataSource" type="H2"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <property name="jpaProperties">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
                <entry key="hibernate.show_sql" value="${hibernate.show_sql}"/>
                <entry key="hibernate.hbm2ddl.auto" value="update"/>
                <entry key="hibernate.globally_quoted_identifiers" value="true"/>
                <entry key="hibernate.cache.use_second_level_cache" value="false"/>
            </map>
        </property>
    </bean>

    <!--Initializing transaction manager-->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="persistenceUtilityService" class="com.sflpro.notifier.persistence.utility.impl.PersistenceUtilityServiceImpl"/>


    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>